// Color palette

$cyan: #42E3B4;
$green: #A0E720;
$yellow: #FAED00;
$blue: #1164C0;
$blueSus: #0090d9;
$aqua: #00ADEE;
$indigo: #202C80;
$lightBlack: #333F48;
$blueGrey: #EEF3FF;
$black: #000000;
$white: #FFFFFF;
$darkWhite: #E9E9E9;


$gradient1: linear-gradient(to right, $cyan , $green);
$gradient2: linear-gradient(to right, $yellow , $green);
$gradient3: linear-gradient(to right, $aqua , $cyan);
$gradient4: linear-gradient(to right, $aqua , $indigo);

// Pixel sizer value

$siteMinWidth: 1400px;

$siteMinHeight: calc(100vh - 70px);